.c-form {
    padding-bottom: 1em;
}

@media screen and (min-width: 50em) {
    .c-form {
        padding-bottom: 1.5em;
    }
}

.c-file-input {
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding-bottom: 2px
}

.c-file-input [type=file] {
    padding: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    direction: ltr;
    width: auto;
    display: block;
    font-size: 5em
}

.c-file-input:hover,
.c-file-input [type=file]:hover {
    cursor: pointer
}

.c-file-input:hover button {
    background-color: #00676a
}
